JWT_SECRET=Your_Super_Secret_Key

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres

MONGO_ROOT_USER=devroot
MONGO_ROOT_PASSWORD=devroot_password
MONGO_INITDB_DATABASE=devdb
MONGOEXPRESS_LOGIN=dev
MONGOEXPRESS_PASSWORD=dev
