JWT_SECRET=Your-super-secret-key-at-least-32-characters-long
JWT_Issuer=Your-issuer-name

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres

MONGO_ROOT_USER=devroot
MONGO_ROOT_PASSWORD=devroot_password
MONGO_INITDB_DATABASE=devdb
MONGOEXPRESS_LOGIN=dev
MONGOEXPRESS_PASSWORD=dev

SEED_MASTER_USERNAME=master
SEED_MASTER_PASSWORD=your-strong-password